<div class="bg-slate-300 rounded-box carousel carousel-center w-full h-56 p-4">
  @if (discussionPoints$ | async; as points) {
    @for (point of points; track point.id; let index = $index, first = $first, last = $last, count = $count) {
      <div @fadeIn class="carousel-item w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4">
        <div class="card w-full bg-secondary-content text-neutral-content">
          <div class="card-body items-center text-center">
            <h2 class="card-title">{{ point.theme.name }}</h2>
            <p>{{ point.generated_summary }}</p>
          </div>
        </div>
      </div>
    } @empty {
      <div class="carousel-item">
        <div class="card w-full bg-secondary-content">
          <div class="text-center">Aucune données disponibles</div>
        </div>
      </div>
    }
  } @else {
    <div class="carousel-item  w-full">
      <div class="card w-full bg-secondary-content">
        <div class="flex flex-row items-center justify-center w-full h-full">
          <span class="loading loading-dots loading-lg bg-neutral-500"></span>
        </div>        
      </div>
    </div>
  }
</div>
