<div class="flex flex-col h-full">
  <!-- top header -->
  <div class="bg-primary">
    <div class="navbar justify-between">
      <div class="flex-1">
        <a class="p-0 btn btn-link block" (click)="home()"><img src="../assets/images/Kizos-logo.svg" alt="" class="h-10 max-w-sm "></a>
      </div>
    <div class="flex-1">
      <h2 class="mx-auto text-center">{{ title }}</h2>
    </div>
    <div class="flex-1">
      <div class="ml-auto btn btn-ghost text-lg" (click)="logout()">
        <i class="color-neutral py-0 fas fa-sign-out-alt"></i>
      </div>
    </div>
    </div>
  </div>

  <!-- page content -->
  <div class="grow w-full pb-24">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <div
    class="footer-content fixed z-50 w-auto -translate-x-1/2 bg-white border border-gray-200 rounded-full bottom-4 left-1/2 dark:bg-gray-700 dark:border-gray-600"
  >
    <div class="flex h-full max-w-lg justify-between mx-auto text-sm">
      <button
        type="button"
        class="inline-flex flex-col items-center justify-center px-2 md:px-5 rounded-l-full hover:bg-gray-200 dark:hover:bg-gray-800 group py-3"
        [routerLink]="['/posts/all-posts']"
      >      
        <span>Communauté</span>
      </button>
      
      <button
        type="button"
        class="inline-flex  flex-col items-center justify-center px-5 hover:bg-gray-200 dark:hover:bg-gray-800 group py-3"
        [routerLink]="['/councils']"
      >      
        <span>Séances</span>
      </button>

      <button
        type="button"
        class="inline-flex flex-col items-center justify-center px-5 rounded-r-full hover:bg-gray-200 dark:hover:bg-gray-800 group py-3"
        [routerLink]="['/posts/my-posts']"
      >
        <span>Moi</span>
      </button>
    </div>
  </div>
</footer>
