<div class="flex flex-col min-h-60">
  <div class="text-xl font-bold px-2 flex justify-center mt-2">
    <span>Dernière séance publique</span>
  </div>

  @if(discussionPoints$ | async; as points){
    <div class="min-h-60">
      <app-carousel @fadeInDelay [points]="discussionPoints$ | async"></app-carousel>
    </div>

  }@else {
    <div class="flex flex-row items-center justify-center w-full h-full min-h-60">
      <span class="loading loading-dots loading-lg bg-neutral-500"></span>
    </div>
  }

  <div class="w-full flex justify-center">
    <button [routerLink]="['/councils']" class="w-48 btn btn-neutral">
      Toutes les séances
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>

<div class="divider"></div>

<div class="flex flex-col space-y-2">
  <div class="text-xl font-bold px-2 flex justify-center">
    <span>Thèmes populaires</span>
  </div>
  <app-most-popular-themes></app-most-popular-themes>
  <div class="w-full flex justify-center">
    <button [routerLink]="['/posts/all-posts']" class="w-48 btn btn-neutral">
      Tous les thèmes
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
