<div class="flex flex-col space-y-2">
  <!-- <div class="text-sm font-bold px-2 mb-2">Thèmes du dernier conseil</div> -->
  <app-council-latest-information></app-council-latest-information>
  <div class="ml-auto link" [routerLink]="['/councils']">Tous les conseils</div>
</div>

<div class="flex flex-col space-y-2">
  <div class="text-sm font-bold px-2 mb-2">Thèmes populaires</div>
  <app-most-popular-themes></app-most-popular-themes>
  <div class="ml-auto link" [routerLink]="['/posts/all-posts']">Tous les thèmes</div>
</div>





