<div class="flex flex-col space-y-2">
  <!-- <div class="text-xs">Thèmes du dernier conseil:</div> -->
  <!-- <app-council-latest-information></app-council-latest-information> -->

  <app-carousel @fadeIn [points]="discussionPoints$ | async"></app-carousel>
  <div class="w-full flex justify-center">
    <button [routerLink]="['/councils']" class="w-48 btn btn-neutral">
      Tous les conseils
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>

  <!-- <div class="ml-auto link mr-3" [routerLink]="['/councils']">Tous les conseils</div> -->
</div>

<div class="flex flex-col space-y-2">
  <div class="text-sm font-bold px-2 mb-2">Thèmes populaires</div>
  <app-most-popular-themes></app-most-popular-themes>
  <div class="ml-auto link" [routerLink]="['/posts/all-posts']">Tous les thèmes</div>
</div>
