<div class="flex flex-row items-center bg-slate-300 hover:bg-slate-400 rounded-md p-2 cursor-pointer relative">
  <img *ngIf="post.image" #imagePreview [ngSrc]="post.image" height="50" width="75" class="mr-2 rounded-lg" />

  <span *ngIf="post.rejection_reason" class="absolute top-0 left-0-0 -mt-4 -ml-6 indicator-item badge badge-warning">Rejeté</span>
  <div class="line-clamp-2 mr-4">{{ post.content_text }}</div>

  <div class="inline-flex flex-row items-center ml-auto">
    <div class="flex flex-row items-center">
      <i class="fa-regular fa-thumbs-up cursor-pointer"></i>
      <p class="ml-1 w-4">{{ post | postUpVoteCount }}</p>
    </div>

    <div class="flex flex-row items-center ml-4">
      <i class="fa-regular fa-thumbs-down cursor-pointer"></i>
      <p class="ml-1 w-4">{{ post | postDownVoteCount }}</p>
    </div>
  </div>

  <div class="flex flex-row items-center ml-4">
    <i class="fa-regular fa-comment fa-lg"></i>
    <p class="ml-1 w-4">{{ post | postCommentCount }}</p>
  </div>
</div>
