
<div class="flex flex-col h-full">
  <div class="bg-cyan-700 w-full">
    <button class="w-5/12" [routerLink]="['my-posts']">My Posts</button>
    <button class="w-5/12" [routerLink]="['all-posts']">All Posts</button>
    <button class="w-2/12" [routerLink]="['create']">Create</button>
  </div>

  <br>
  
  <div class="grow">
    <router-outlet></router-outlet>
  </div>
  
  <ul class="menu menu-horizontal bg-base-200">
    <li class="w-50" [routerLink]="['/home']"><a>< home</a></li>   
  </ul>
</div>
