<div class="flex flex-col w-full px-3 h-full relative">
  <div class="overflow-y-auto mt-4 grow pb-24">
    @if (post; as post) {
      <div class="flex flex-col gap-y-3">
        <div class="flex flex-col">
          <p class="text-lg">Anonyme</p>
          <p class="text-xs">{{ post.created_at | timeDiffPro }}</p>
        </div>

        <p [class.line-clamp-2]="clampText" (click)="unClampText()">
          {{ post.content_text }}
        </p>

        <img *ngIf="post.image" [ngSrc]="post.image" height="300" width="200" />

        @if (post.rejection_reason) {
          <div class="w-full border border-x-transparent border-b-transparent border-t-gray-950 py-1">
            <p>
              {{ post.rejection_reason }}
            </p>
          </div>
        }

        <div class="flex flex-row gap-x-2">
          <div class="badge badge-secondary">{{ post.theme.category }}</div>
          <div class="badge badge-primary">{{ post.theme.name }}</div>
        </div>

        <div class="flex flex-row">
          <div class="inline-flex flex-row items-center">
            <div class="flex flex-row items-center">
              <i class="fa-regular fa-thumbs-up cursor-pointer" (click)="upVote()"></i>
              <p class="ml-1">{{ post | postUpVoteCount }}</p>
            </div>

            <div class="flex flex-row items-center ml-6">
              <i class="fa-regular fa-thumbs-down cursor-pointer" (click)="downVote()"></i>
              <p class="ml-1">{{ post | postDownVoteCount }}</p>
            </div>
          </div>

          <div class="flex flex-row items-center ml-auto cursor-pointer" (click)="toggleComments()">
            <p class="ml-1">{{ comments?.length ?? 0 }} commentaires</p>
          </div>
        </div>

        <div class="w-full border border-transparent border-t-gray-950 py-1"></div>     
      </div>
    } @else {
      <div class="flex flex-grow items-center justify-center">
        <span class="loading loading-dots loading-lg"></span>
      </div>
    }

    @if (showComments) {
      @if (!commenting) {
        <div class="flex flex-row items-center">
          <button class="btn ml-auto mr-auto" (click)="toggleCommentBox()">Ajouter un commentaire</button>
        </div>
      }

      <div [class.hidden]="!commenting" class="p-2 border border-transparent py-3 border-b-gray-950">
        <div class="flex flex-row items-center h-full w-full">
          <label class="block">
            <img [class.hidden]="!file" #imagePreview src="" class="h-12 cursor-pointer" />
            <i [class.hidden]="file" class="fa-light fa-image fa-2x p-2 rounded-lg hover:bg-neutral-300 cursor-pointer"></i>

            <input
              [imagePreview]="imagePreview"
              (imagePreviewFile)="setFile($event)"
              #fileInput
              type="file"
              class="absolute invisible w-0 h-0"
            />
          </label>

          <textarea
            #textArea
            class="textarea ml-2 grow h-10"
            placeholder="Votre message..."
            (keydown.control.enter)="submit(fileInput, textArea)"
          ></textarea>

          <i
            *ngIf="!creatingComment"
            (click)="submit(fileInput, textArea)"
            class="fa-solid fa-paper-plane-top p-3 rounded-lg hover:bg-neutral-300 cursor-pointer ml-2"
          ></i>

          <i *ngIf="creatingComment" class="fa-solid fa-spinner fa-spin-pulse p-3 rounded-lg ml-2"></i>
        </div>
      </div>

      @if (comments; as comments) {
        <div class="flex flex-col gap-y-3 mt-3">
          @for (comment of comments | sortBy: 'created_at' : 'reverse'; track comment.id) {
            <app-comment-show [comment]="comment"></app-comment-show>
          }
        </div>
      } @else {
        loading comments...
      }
    }
  </div>
</div>
