<p class="text-lg">Voici ce qui se brasse dans ma communauté...</p>

<div class="flex flex-row justify-between mt-4">
  <div>filtrer</div>

  <div>rechercher</div>
</div>

<br />

<div class="flex flex-col overflow-y-auto gap-y-3">
  @if (posts$ | async; as posts) {
    @for (post of posts; track post.id) {
      <app-post-card [post]="post" [routerLink]="[post.id]"></app-post-card>
    } @empty {
      <div class="text-center">No data available</div>
    }
  } @else {
    <span class="loading loading-dots loading-lg"></span>
  }
</div>
