<div class="flex flex-row py-2">
  <app-theme-filter @fadeIn [themes]="themes$ | async" [selectedThemes]="selectedThemes$ | async" (selectedThemesChange)="setSelectedThemes($event)"></app-theme-filter>
  <app-search-input @fadeIn class="ml-auto" (valueChange)="setSearch($event)"></app-search-input>
</div>

<div class="flex flex-row items-center">
  <div class="flex flex-row flex-wrap items-center gap-2 py-2 pt-4">
    <button @fadeIn class="btn btn-sm rounded-lg" (click)="expandAll()">Ouvrir</button>
    <button @fadeIn class="btn btn-sm rounded-lg" (click)="collapseAll()">Fermer</button>
  </div>

  <div class="flex flex-row flex-wrap items-center gap-2 py-2 pt-4 ml-auto">
    <button @fadeIn class="btn btn-sm rounded-lg" [class.bg-neutral-400]="showPosts" (click)="togglePosts()">Propositions</button>
    <button @fadeIn class="btn btn-sm rounded-lg" [class.bg-neutral-400]="showPoints" (click)="togglePoints()">Conseils</button>
  </div>
</div>

@if (vm; as vm) {
  <cdk-accordion @staggeredFadeIn class="flex flex-col gap-y-8 mt-2" #accordion [multi]="true">
    @for (category of vm.categories; track category.key) {
      <cdk-accordion-item #accordionItem="cdkAccordionItem">
      
        <button class="btn flex flex-row flex-nowrap bg-purple-300 h-16 rounded-xl shadow-xl pl-2 border-none max-w-full overflow-hidden" (click)="accordionItem.toggle()">
          <i class="fa-solid fa-angle-right" [class.rotate-90]="accordionItem.expanded"></i>

          <div class="flex flex-col flex-nowrap items-start gap-y-0 overflow-hidden">
            <div class="text-xs text-stone-600 truncate text-left">{{ 'categories.' + category.categoryName | translate | lowercase  }} ></div>
            <div class="text-xl pl-3 max-w-full truncate text-left">{{ category.themeName | lowercase | capitalize }}</div>
          </div>        
          <div class="badge badge-sm badge-ghost ml-2">{{ category.postCount }}</div>
        </button>    

        <div class="ml-6 mt-2" [style.display]="accordionItem.expanded ? '' : 'none'">
          @if(accordionItem.expanded){
            <div @staggeredFadeIn class="flex flex-col gap-y-2 mt-2">
              @for (item of category.items; track item.id) {
                @if(item.type === 'point'){
                  <app-dicussion-point-card [point]="item.point" [routerLink]="['/councils', item.point.council_id]" [queryParams]="{ themeId: item.point.theme_id }"></app-dicussion-point-card>
                }@else if(item.type === 'post') {
                  <app-post-card [post]="item.post" [showStatistics]="true" [showTags]="false" [showIcon]="true" [routerLink]="[item.post.id]"></app-post-card>
                }              
              }
            </div>
          }          
        </div>
      </cdk-accordion-item>
    } @empty {
      <div class="text-center">Aucune données disponibles</div>
    }
  </cdk-accordion>
} @else {
  <div class="flex flex-grow items-center justify-center mt-20">
    <span class="loading loading-dots loading-lg"></span>
  </div>
}