<label class="ml-auto flex items-center items-stretch rounded-lg border border-slate-200 focus:border-slate-200 h-8">
  <input
    #input
    [@growShrink]="value || active"
    class="bg-transparent p-2 outline-none focus:outline-none focus:border-0 px-0 grow"
    [class.pl-2]="active"
    [style.border]="'none'"   
    placeholder="Rechercher"
    type="text"
    [value]="value"
    (change)="onChange(input.value)"
    (keydown.escape)="escape(input.value)"
    (blur)="onBlur()"
  />

  <div class="flex flex-row items-center justify-center cursor-pointer w-8" (click)="toggle()">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</label>
