<div class="flex flex-col items-center justify-stretch overflow-y-auto gap-y-3 w-12/12 sm:w-11/12 md:w-8/12 ml-auto mr-auto px-4">
  <div class="p-2 border border-transparent py-3 border-b-gray-950 w-full">
    <app-message-form (onSubmit)="submit($event)" [loading]="creatingPost"></app-message-form>   
  </div>

  @if (posts; as posts) {
    <div class="flex flex-col gap-y-14 w-full mt-4">
      @for (post of posts; track post.id) {
        <app-post-card [post]="post" [showStatistics]="true" [showTagsBellow]="true" [routerLink]="[post.id]"></app-post-card>
      } @empty {
        <div class="text-center">Aucun message n'a encore été écrit!</div>
      }
    </div>
  } @else {
    <div class="flex flex-grow items-center justify-center">
      <span class="loading loading-dots loading-lg"></span>
    </div>
  }
</div>
