<ngu-carousel #carousel [inputs]="carouselTile" [dataSource]="points">
  <ngu-tile *nguCarouselDef="let point">
    <div
      class="card-body items-center text-center text-neutral bg-primary cursor-pointer h-full rounded-xl bg-[url('/assets/images/message-smile-solid.svg')]"
      [routerLink]="['/councils', point.council_id]"
      [queryParams]="{ themeId: point.theme_id }"
    >
      <h2 class="card-title">{{ point.theme.name }}</h2>
      <div class="line-clamp-4">
        <p>{{ point.generated_summary }}</p>
      </div>
    </div>
  </ngu-tile>

  <ul class="myPoint" NguCarouselPoint>
    <li
      *ngFor="let i of carousel.pointNumbers; let index = index"
      [class.bg-neutral]="i == carousel.activePoint"
      (click)="carousel.moveTo(index)"
    ></li>
  </ul>
</ngu-carousel>
