<div class="inline-flex flex-col relative">
  @if (comment.status === 'rejected') {
    <span class="indicator-item badge badge-warning">Rejeté</span>
  } @else if (comment.status === 'in_process') {
    <span class="indicator-item badge badge-warning">En traitement</span>
  }
  <div class="inline-flex flex-col rounded-2xl bg-slate-200 min-h-12 p-3">
    <div class="font-semibold">Anonyme</div>
    <div [class.line-clamp-2]="clampText" (click)="unClampText()">{{ comment.content_text }}</div>
    <img *ngIf="comment.image" #imagePreview [ngSrc]="comment.image" height="300" width="200" />
    @if (comment.rejection_reason) {
      <div class="w-full border border-x-transparent border-b-transparent border-t-gray-950 py-1">
        <p>
          {{ comment.rejection_reason }}
        </p>
      </div>
    }
  </div>

  <div class="inline-flex flex-row items-center pl-3">
    <div class="text-xs">{{ comment.created_at | timeDiffPro }}</div>

    <div class="flex flex-row items-center ml-6">
      <i class="fa-regular fa-thumbs-up cursor-pointer" (click)="upVote()"></i>
      <p class="ml-1">{{ comment | commentUpVoteCount }}</p>
    </div>

    <div class="flex flex-row items-center ml-6">
      <i class="fa-regular fa-thumbs-down cursor-pointer" (click)="downVote()"></i>
      <p class="ml-1">{{ comment | commentDownVoteCount }}</p>
    </div>
  </div>
</div>
