<div class="flex flex-col h-full">
  <div>
    <textarea #textInput placeholder="Bio" class="textarea textarea-bordered textarea-md w-full max-w-xs" ></textarea>

    <label class="block">
      <span class="sr-only">Choose profile photo</span>
      <input type="file" class="block w-full text-sm text-slate-500
        file:mr-4 file:py-2 file:px-4
        file:rounded-full file:border-0
        file:text-sm file:font-semibold
        file:bg-violet-50 file:text-violet-700
        hover:file:bg-violet-100
      "/>
    </label>
    
  </div>

  
  <ul class="menu menu-horizontal bg-base-200">
    <li class="w-50 ml-auto" (click)="submit(textInput.value)"><a>Submit</a></li>   
  </ul>
</div>

