<div @fadeIn class="flex flex-row py-2 px-4">
  <app-theme-filter
    [themes]="themes$ | async"
    [selectedThemes]="selectedThemes$ | async"
    (selectedThemesChange)="setSelectedThemes($event)"
  ></app-theme-filter>
  <app-search-input class="ml-auto" (valueChange)="setSearch($event)"></app-search-input>
</div>

@if (council$ | async; as council) {
  <div class="px-4 pt-4">
    <div class="flex flex-row items-center justify-center">
      <div class="text-xl font-bold">Scéance publique du {{ council.date | date }} à {{ council.date | date: 'shortTime' }}</div>
    </div>

    @if (filteredPoints$ | async; as points) {
      <div @staggeredFadeIn class="flex flex-col gap-y-4 mt-2">
        @for (point of points; track point.id) {
          <app-discussion-point-card class="w-full" [point]="point"></app-discussion-point-card>
        }
      </div>
    }
  </div>
} @else {
  <div class="flex flex-grow items-center justify-center">
    <span class="loading loading-dots loading-lg"></span>
  </div>
}
