<div class="flex flex-row items-center h-full w-full">
  <label class="block">
    <img [class.hidden]="!file" #imagePreview src="" class="h-12 cursor-pointer" />
    <i [class.hidden]="file" class="fa-light fa-image fa-2x p-2 rounded-lg hover:bg-neutral-300 cursor-pointer"></i>
    <input #fileInput [imagePreview]="imagePreview" (imagePreviewFile)="setFile($event)" type="file" class="absolute invisible w-0 h-0" />
  </label>

  <textarea
    #textArea
    class="grow h-12 ml-2 h-24"
    [placeholder]="placeholder"
    (keydown.control.enter)="submit(fileInput, textArea)"
  ></textarea>

  <i
    *ngIf="!loading"
    (click)="submit(fileInput, textArea)"
    class="fa-solid fa-paper-plane-top p-3 rounded-lg hover:bg-neutral-300 cursor-pointer ml-2"
  ></i>

  <i *ngIf="loading" class="fa-solid fa-spinner fa-spin-pulse p-3 rounded-lg ml-2"></i>
</div>
